/* You can add global styles to this file, and also import other style files */
.small {
    max-width: 60px;
    max-height: 60px;
    margin-right: 20px;
}

.medium {
    max-width: 90px;
    max-height: 90px;
    margin: 0 auto;
}